header {
  padding: 4px 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: red;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

footer {
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-top: 20px;
}
