@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: light dark;
}

body {
  background-color: black;
  box-sizing: border-box;
  padding: 0px;
  margin: auto;
  max-width: 3400px;
}

@layer components {
  .btn {
    @apply hover:bg-slate-100 px-6 py-1 rounded-lg hover:shadow-md font-semibold;
  }

  .btn2 {
    @apply bg-slate-200 shadow-md hover:bg-slate-500 hover:text-white px-6 py-1 rounded-lg hover:shadow-md font-semibold;
  }

  .img-text-overlay {
    @apply absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 transition-opacity flex items-center justify-center text-white opacity-0 group-hover:opacity-100 duration-500;
  }
}

.img-fade {
  opacity: 1;
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: contain 500px;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.fade-grid {
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain 100px;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
